thead
{
    position:sticky;
    top:0;
width: 100%;
height: 66px;
flex-shrink: 0;
background: linear-gradient(166deg, #FE9901 0%, #FC7205 100%);

}
.table-bordered thead th
{
    color: #FFF;
font-size: 15px;
font-family: Inter;
font-weight: 900;
letter-spacing: 0.3px;

}

table.table-bordered
{
    
    width: max-content;
    margin-left: -12px;
}
.table-bordered tr td
{

flex-shrink: 0;
    border-bottom: 0.5px solid #000;
background: #D9D9D9;

}
.table-bordered tr:hover td
{
    background-color: #FFF;
    color: black;
}

td .btnn_download
{
    width: 120px;
height: 30px;
flex-shrink: 0;
border-radius: 2px;
background: #FB5607;
text-decoration: none;
color: #FFF;
font-size: 16px;
padding: 3px 7px 3px 7px;
font-family: Quicksand;
font-weight: 700;
letter-spacing: 0.3px;
text-decoration: none;

}
td .btnn_download :hover
{
    color: white;
    background: #FB5607;
}

.btn_search_emp
{
    border: 0px solid;
    background-color: #ffffff00;
    padding: 6px;
    font-size: 20px;
    text-align: right;
    margin-left: -40px;
    margin-top: 5px;
}
.btn_search_emp i
{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: #FB5607;
}
input.form-control {
    border:none;
    width: 61px;
    margin-right: 40px;
}

/*    top 1 */
.col-md-9 .emp_pay_search {
    width: 21.5%;
    height: 46px;
    padding: 0px;
    position: absolute;
    top: 15%;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FB5607;
    margin: 30px;
    display: flex;
}
.col-md-9 .col-auto_year
{
    padding: 1px;
    height: 42px;
    background-color: #fff;
    text-align: center;
    margin-left: -11px;
    text-decoration: none;
    border: none;
}


.col-md-9 .emp_pay_search .col-auto_month {
    width: 91%;
    height: 42px;
    border: 0px solid;
    background-color: #ffffff00;
    padding: 0px 6px;
}
.table_over_scr_ol
{
    width: 98%;
    overflow-x: scroll;
    height:350px;
    margin-left: 15px;
    

}
.container1 {
    margin-top: 10%;
    width: 98%;
}


.col-9 .table_over_scr_ol {
    overflow-x: scroll;
    
    height: 350px;
    margin-left: 30px;
    border: 0px solid;
}


.table_over_scr_ol::-webkit-scrollbar {
    height: 10px;
    width: 4px;
    background-color: transparent;
    border: 0px solid #787676;
}

.table_over_scr_ol::-webkit-scrollbar-track {
    background-color: transparent;
}

.table_over_scr_ol::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
}

.table_over_scr_ol::-webkit-scrollbar-thumb:horizontal {
    background-color: #fb5407ba;
}

/** width max ***/

.col-md-9 {
    width: 100%;
    /* margin-left: 9%; */
    height: 250px;
}
.col-md-3
{
    width: 17%;

}
a.btnn_download:hover {
    color: white;
}
a.btn_search_emp_downld {
    float: right;
    margin: 10px 39px;
    border: 1px solid #fb5407;
    background-color: #fb5407;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration:none;
}


tbody {
  height: 300px; /* Adjust the height as needed */
  overflow-y: scroll;
}




/* Make the header row fixed */
thead {
    border:1px orange solid;
  top: 0;
  background-color: #f8f9fa; /* Adjust the background color as needed */
}
th, td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

/* Add a border to the table */
table {
  border-collapse: collapse;
}

/* Add a border to the table cells */
th, td {
  border: 1px solid #ddd; /* Adjust the border color as needed */
}
.col-9 .btn_search_emp_downld_f
{
    border-radius: 5px;
    background: #FB5607;
    color: #FFF;
    font-size: 17px;
    padding: 6px;
    margin-right: 15px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
}
.bbtn{
    text-decoration:none;
}
.bbtn{
    float: right;
    margin: 10px 39px;
    border: 1px solid #fb5407;
    background-color: #fb5407;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;

}

.row
{
    width:100%;
}
@media (max-width:767px){
    *{
        font-size:11px;
    }
    a.btnn_download {
        font-size:11px;
    }
    a.btn_search_emp_downld {
        font-size:11px;
}
a.bbtn {
    font-size:11px;
}
.bbtn {
    margin: -55px 79px;
}
a.btn_search_emp_downld {
    margin: 26px 25px;}

    .col-auto_download {
    margin-top: -20px;
}
.col-md-9 .emp_pay_search {
    width: 67%;
    height: 37px;}

input.form-control {
    padding-top: 10px;
}
.btn_search_emp {
    padding:0px;
}
.col-auto_download {
    padding-top: 13px;
}
table.table-bordered {
    margin-top: -30px;
}
.row.mt-3.table_over_scr_ol {
    margin-top: -1rem!important;
}
.col-md-9 .emp_pay_search .col-auto_month {
    height: 30px;}
    
.col-md-9 .col-auto_year {
height:30px;
}
.col-auto_download {
    margin-bottom: -4% !important;
    margin-top: 12% !important;
}
.col-md-9{
    width:92% !important;
    margin-left:9% !important;
}
}


@MEDIA (MIN-WIDTH:768px) and (max-width:1024px){
    .container1{
        width:90%;
    }
    .col-md-9 {
    margin-top: 2% !important;}

    .col-md-9 .emp_pay_search {
    width: 34.5%;}
    *{
        font-size:11px;
    }
    a.btnn_download {
    font-size: 11px;
}
.bbtn{
    font-size:11px;
}
a.btnn_download {
    font-size: 11px;
}
a.btn_search_emp_downld {
    font-size: 11px;
}
.form-control {
    padding: 0rem 0.75rem !important;}


input.form-control {
    margin-top: 14px;}

.btn_search_emp {
padding:0px !important;
    }
    .col-auto_download {
    margin-bottom: -4% !important;
    margin-top: 12% !important;
}
.col-md-9{
    width:92% !important;
    margin-left:9% !important;
}
}
  

