body
{
width:99%;
}

.container11{
width:99%;
height:100%;
}


.input-group .btn {
background: none;
border: none;
color: #FB5607;
}
.card-header.text-center {
padding-top: 17px;
/* float: left; */
COLOR: white;
/* width: 666px; */
height: 70px;
flex-shrink: 0;
border-radius: 10px;
background: #FC7305;
}
h4 {
padding-top: 6px;
padding-left: 7px;
float: left;
color: #FFF;
font-size: 30px;
font-family: sans-serif;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
font-size: 1.3em;
}
.input-group-append {
position: relative;
top: 2px;
left: -57px;
}

.searchid{
width: 590px;
height: 62px;
flex-shrink: 0;

border-radius: 10px;
border: 0.5px solid #000;
}
.searchid::placeholder {
color: #000;
font-size: 13px;
font-family: sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
}
.searchid:focus {
border:none;
outline: none;
}
.input-group-append {
z-index: 100;
}
button.btn.icon {
padding-top: 16px;
}
button.btn.icon:hover {
color:orangered;
}

.hidethis{
display:none;
}
.card-body {
background-color: #F0F0F0;
border: 1px solid rgba(0,0,0,.125);
border-radius: 0.25rem;
}
.card{
border:none !important;
}
input.form-control.searchid {
text-transform: uppercase;
}
button.btn.btn-primary {
color: #FFF;
border:1px orangered solid;
font-size: 20px;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.4px;
border-radius: 5px;
background: #FB5607;
margin-top: 2%;
margin-left:15px;
}
button.btn.btn-danger {
margin-left:5px;
border:1px green solid;
color: #FFF;
font-size: 20px;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.4px;
border-radius: 5px;
background: green;
margin-top: 2%;
}
input.form-control {
margin-left: 13px;
width: 94%;
}
label {
margin-bottom: 2px;
margin-left: 15px;
display: inline-block;
}
.move{
margin-top:7%;

width:76%;
}
.image_mobile img {

width: 491px;
right: 10px;
position: absolute;
top: 28%;
/* float: right; */
height: 366px;

}
button.btn1.btn-link {
    margin-top: 56px;
    text-decoration: none;
    margin-right: -29%;
    float: right;
    width: 27%;
    border: none;
    background-color: white;
    margin-bottom: 26px;
}
button.btn1.btn-link a {
font-weight:600;
letter-spacing:1px;
font-size:20px;
color: #FB5607;
}
.link-with-spacing {
text-decoration: none;
border-bottom: 1px solid;
padding-bottom: 5px;
}

.payroll{
position:relative;
margin-top:-2px;
margin-left:12px;
}


@media (max-width:767px){
.container11 {
margin-left: -8px;
margin-top: 0px;
width: 99%;
height: 100%;
}
.col-md-9 {
position: absolute;
margin-left: 23px;
margin-top: 0%;
}
.image_mobile img {
display:none;}
.move{
width:97%;
}
button.btn1.btn-link {
margin-bottom: -10px;   
margin-right: 7%;

}
button.btn1.btn-link a {
font-size: 13px;  
}
* {
font-size: 11px;
}
input#search {
height: 115%;
}
i.fas.fa-search {
margin-left: 20px;
}
button.btn.btn-primary {
font-size: 11px;
}
button.btn.btn-danger {
font-size: 11px;
}
.card-header.text-center {
height: 55px;
}
}

@media (min-width:768px) and (max-width:1024px){
.container11 {
margin-left: -8px;
margin-top: 0px;
width: 99%;
height: 100%;
}
.col-md-9 {
position: absolute;
margin-left: 23px;
margin-top: 0%;
}

.move{
width:97%;
}
button.btn1.btn-link {
margin-bottom: -10px;   
margin-right: 7%;

}
button.btn1.btn-link a {
font-size: 13px;  
}
* {
font-size: 11px;
}
input#search {
height: 115%;
}
i.fas.fa-search {
margin-left: 20px;
}
button.btn.btn-primary {
font-size: 11px;
}
button.btn.btn-danger {
font-size: 11px;
}
.card-header.text-center {
height: 55px;
}
.move{
width:100%;
}
.col-md-7 {
width:50% !important;
}
.image_mobile img {
width: 469px;

height: 291px;
}
button.btn1.btn-link {
margin-bottom: -10px;
margin-right: 22% !important;
}
*{
font-size:11px;
}

}

.btn1{
    margin-top: 59px;
    /* margin-bottom: -25px; */
    margin-left: 105%;
    width: 173px;
}
