body{
    background-image: url('../assets/images/ind_background.png');
background-size: 100%;
background-repeat: round;
background-attachment: fixed;
max-width: 100%;
max-height: 100%;
color:white;
}.container {
max-width: 650px;
height: 620px;    
background: rgba(117, 110, 110, 0.05);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(10px);
margin-top: 100px;
padding: 35px;
}.form-control,#loginPassword
{
width:541px;
height:40px;   
}::placeholder
{
color:black;
}
.password-input-container {
position: relative;
}

#loginPassword {
padding-right: 30px; /* Add space on the right for the icon */
}

.icon_eye {
position: absolute;
top: 50%;
right: 5px; /* Adjust the position of the icon as needed */
transform: translateY(-50%);
cursor: pointer;
}.typoghraphy
{    color: #0e649b;
font-family: Dr Sugiyama;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3px;
}.otrait
{
color: #FFF;
font-family: Dr Sugiyama;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.7px;
}.form-check-label{
color: #FFF;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.26px;
}
.Image_logo,.ind_content{
margin-bottom: 30px;
}
.login_form
{
width:540px;
height:280px;
}
.sign_lg_in,.sign_lg_in:hover{
width: 541px;
height: 40px;
background: #0e649b;
border:none;
color: #FFF;
font-family: Quicksand;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.425px;
}.frgt_password,a{
color: #FFF !important;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.65px;
text-decoration:none;
padding-top:15px;
}
.register_btn, .forg_lg_sg {
display: flex;
height: 35px;
justify-content: center;
align-items: center;
margin: 10px;
}.register_btn{
color:#0e649b;
font-size:20px;
position: relative;
top: -6px;
}.form-check-input{
border-radius: 0.25em;
background-color: transparent;
border: 1px solid white;
}
/********  register *************/


#registerRepeatPassword {
    padding-right: 30px; /* Add space on the right for the icon */
}

/* CSS for loading overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of other content */
}

.spinner-border {
width: 8rem;
height: 8rem;
position: absolute;
top: 200px;
left: 250px;
}

.text-primary {
color:#0e649b !important;
display: inline-block;
width: 8rem;
height: 8rem;
vertical-align: -0.125em;
border: 0.25em solid currentColor;
border-right-color: transparent;
border-radius: 50%;
-webkit-animation: .75s linear infinite spinner-border;
animation: .75s linear infinite spinner-border;
}

/* CSS to blur the background */
body.loading {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevent interactions with the blurred background */
}
.message
{
  background-color:green;
  color:White;
  font-size:20px;
}.loading-overlay
{
  display:none;
}.sign_lg_in_border
{
  width: 185px;
height: 48px;
background-color:#0e649b;
color:White;
font-size:16px;
border:1px solid transparent;
}
.register_btn, .forg_lg_sg {
display: flex;
height: 35px;
justify-content: center;
align-items: center;
margin: 10px;
}.register_btn{
color:#0e649b;
font-size:20px;
position: relative;
top: -6px;
}.frgt_password,a{
color: #FFF !important;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.65px;
text-decoration:none;
padding-top:15px;
}